body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: #edeff0;
  /* ADDED STYLES */
  background-image: url(svg/background.svg);
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
  /* ADDED STYLES */
  transition: color 0.3s;
}

a:hover {
  color: #111;
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  /* ADDED STYLES */
  text-align: center;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

/* NAVIGATION */
.nav__link {
  display: flex;
}

.nav__link svg {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 0.5rem;
}

/* LOGO */
.logo {
  height: 120px;
  width: 140px;
}

/* text in logo */
.st1 {
  display: none;
}

.logo__text {
  text-transform: uppercase;
}

/* CORGIS */

.corgi__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  list-style-type: none;
}

.corgi__container {
  width: 150px;
  text-align: left;
  padding: 0 0.7rem;
}

.corgi {
  width: 150px;
  height: 150px;
  display: block;
}

.corgi__name {
  margin-left: 37px;
  color: #ba8058;
}

.body__sable {
  color: #ba8058;
}

.body__fawn {
  color: #f4c6a6;
}

.body__red {
  color: #834b29;
}

.body__stone {
  color: #52595f;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 425px) {
  /* navigation */
  header nav {
    text-align: left;
  }

  /* text in logo */
  .st1 {
    display: inline;
  }

  .logo__text {
    display: none;
  }
}
